<!DOCTYPE html>
<html>
<head>
	<title>Issue Detail</title>
</head>
<body>
	<h1>{{ issue.title }}</h1>
	<p><strong>{{ issue.description|linebreaksbr }}</strong></p>
	<p>Type: {{ issue.get_type_display }}</p>
	<p>Status: {{ issue.get_status_display }}</p>
	<p>Created at: {{ issue.created_at }}</p>
	<p>Updated at: {{ issue.updated_at }}</p>
	<p><a href="{% url 'tracker:issue_edit' issue.pk %}">Edit</a></p>

	<h2>Comments</h2>
	<ul>
		{% for comment in comments %}
			<li>
				<strong>{{ comment.text|linebreaksbr }}</strong> - {{ comment.author }}@{{ comment.created_at }}				
			</li>
		{% endfor %}
	</ul>

	<h2>Add a comment</h2>
	<form method="post">
		{% csrf_token %}
		{{ comment_form.as_p }}
		<button type="submit">Add Comment</button>
	</form>

	<p><a href="{% url 'tracker:issue_list' %}">Back to list</a></p>
</body>
</html>