{% load humanize %}
<!DOCTYPE html>
<html>
<head>
	<title>Issue Detail</title>
</head>
<body>
	<h1>[{{ issue.get_type_display }}] {{ issue.title }}</h1>
	<p><strong>{{ issue.author|rjust:"30"|safe }}</strong> opened this issue {{ issue.created_at|naturaltime }}</p>
	<p style="font-size: 1.2em;">{{ issue.description|linebreaksbr }}</p>
	<p><a href="{% url 'tracker:issue_edit' issue.pk %}">Edit</a></p>

	{% if comments %}
	<h2>Comments</h2>
	<ul>
		{% for comment in comments %}
			<li>
				<strong>{{ comment.author }}</strong> commented {{ comment.created_at|timesince }} ago
				<p>{{ comment.text|linebreaksbr }}</p>
			</li>
		{% endfor %}
	</ul>
	{% endif %}

	<h2>Add a comment</h2>
	<form method="post">
		{% csrf_token %}
		{{ comment_form.as_p }}
		<button type="submit">Add Comment</button>
	</form>

	<p><a href="{% url 'tracker:issue_list' %}">Back to list</a></p>
</body>
</html>
