{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block css %}
  <style>
    .no-wrap {
      white-space: nowrap;
    }
    .progress {
      height: 30px;
    }
    .new_added {
      font-weight: bold;
    }
    .duesoon, .should_start {
      background-color: orange;
    }
    .delayed, .overdue, .not_fitting, .not_committed {
      background-color: red !important;
    }
    .center-align {
      text-align: center;
    }
    .row {
      display: flex;
      align-items: center;
    }
    label, .form-control {
      margin-right: 10px;
    }

    /* override jquery UI tooltip style */
    .ui-tooltip {
      width: 500px;
      background: #f6f6f6;
      border: 2px solid #ccc;
      padding: 3px;
      box-shadow: 0 0 2px rgba(0,0,0,0.1);
      font-size: 15px !important;
    }

    .divider {
      margin: 0 5px 0 5px;
    }

    .tight-table {
        font-size: 12px; /* Smaller font size */
        border-collapse: collapse; /* Remove space between table cells */
        margin-left: 40px;
    }
    .tight-table th, .tight-table td {
        padding: 4px; /* Smaller padding */
        border: 1px solid #ddd; /* Border for table cells */
    }
  </style>
  <link rel="stylesheet" href="{% static 'fotd/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.0/css/dataTables.dataTables.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css">
{% endblock %}

{% block script %}
  <script src="{% static 'fotd/jquery-ui.min.js' %}"></script>
  <!-- RowGroup requires DataTables 1.11 or newer -->
  <script type="text/javascript" src="{% static 'fotd/dataTables_2.1.0_wa.js' %}" ></script>

  <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
  <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.colVis.min.js"></script>
{% endblock %}

{% block nav_link %}
<span class="divider">|</span>
<a style="text-align: right;" href="{% url 'fotd:detail' fid %}">{{fid}}</a>
{% endblock %}

{% block content %}
<br>
<h2 style="margin-left: 10px;">{{fid}} Backlog</h2>

<div style="display: flex; align-items: center; margin-left: 10px;">
    {% if query_time %}
      <div>{{ query_time|timesince }} ago</div>
      <span class="divider">|</span>
    {% endif %}

    <a id="refreshLink" href="#">Refresh</a>
    <span class="divider">|</span>

    <label style="margin: 5px 2px; color: blue;">
        <input type="checkbox" id="showDoneItems" {% if query_done %}checked{% endif %}> Show done items
    </label>
    <span class="divider">||</span>

    <a href="https://jiradc.ext.net.nokia.com/secure/StructureBoard.jspa?p=2059383512&s=%7B%22sQuery%22%3A%7B%22query%22%3A%22project%20in%20(FFB)%20%20AND%20%5C%22Feature%20ID%5C%22%20~{{ fid }}%22%2C%22type%22%3A%22jql%22%7D%7D#" target="_blank">Open in JIRA</a>
</div>

{% if not backlog_items %}
  <p style="color: red; margin:0 10px">
    Oops! Feature backlog not found, pls make sure the feature ID &lt;{{fid}}&gt; is correct.<br>
    If the feature is already done, click the above checkbox to show done items.
  </p>
{% else %}

<div class="container-fluid">
  <table id='backlog-table' class="table stripe hover"><!--table-striped stripe -->
    <thead>
      <tr>
        <th rowspan="2"></th>

        {% for field_name in display_fields %}
          <th rowspan="2">{{ field_name|replace:"_, " }}</th>
        {% endfor %}
          <th colspan="{{display_sprints|length}}" data-dt-order="disable">Plan Visualization</th>
      </tr>

      <tr>
        {% for fb in display_sprints %}
          <th data-dt-order="disable"> {{ fb }} </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for item in backlog_items %}
        <tr id="{{item.Key}}" data-id="{{item.ID}}">
          <td class="dt-control"></td>

          {% for field_name, field_value in item.items %}
            {% if field_name not in display_fields %}
              {# dont show #}

            {% elif field_name == "Key" %}
              <td class="no-wrap keyCell">
                <a href="{{link_prefix}}{{field_value}}" target="_blank" title="{{item.Summary}}">{{ field_value }}</a>
                {% if field_value in new_keys %}<img src="{% static 'pix/new.png' %}" alt="New" width="48" height="24" title="New added item">{% endif %}
              </td>

            {% elif field_name == "Progress" %}
              <td class="no-wrap">
                <div class="progress" {% if item.Risk_Status == 'Yellow' or item.Risk_Status == 'Red' %}style="background-color: {{item.Risk_Status|lower}};"
                    title="Risk detail: {% if item.Risk_Details %} {{ item.Risk_Details }} {% else %} Not set {% endif %}" {% endif %}>
                  <div class="progress-bar {% if field_value >= 99.9 %}bg-success{% else %}bg-primary{% endif %}" role="progressbar"
                    style="width: {{ field_value }}%" aria-valuenow="{{ field_value }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>

            {% elif field_name == "End_FB" %}
              {% if field_value %}
              <td class="no-wrap {{item.tags}}" {% if item.hints %} title="{{ item.hints|safe }}" data-tooltip="{{ item.hints|safe }}" {% endif %}>
                {{ field_value }}
                {% if item.Key in changed_items %} <span style="font-size: x-small;">({{ changed_items|get_previous_end_fb:item.Key }})</span> {% endif %}
              {% else %}
              <td class="no-wrap" style="font-size: 0.7em;">(Not Set)
                {% if item.Assignee %}
                <select class="selectForEndFb" data-item_key="{{ item.Key }}" data-fid="{{ fid }}" data-area="{{item.Competence_Area}}" style="width: 110px;">
                  <option value="">Action...</option>
                  <option value="requestPlanning" data-apo="{{item.Assignee}}" data-apo_email="{{item.Assignee_Email}}">Send planning request</option>
                  <option value="addTask">Add a task to track </option>
                </select>
                {% endif %}
              {% endif %}
              </td>

            {% elif field_name == "RC_Status" %}
              <td class="no-wrap rcStatusCell" style="font-size: 0.7em;">
              {% if field_value %}
                {{ field_value }}
              {% else %}
                (Not Set)
                {% if item.Assignee and item.End_FB %}
                <select class="selectForRcStatus" data-item_key="{{ item.Key }}" data-fid="{{ fid }}"  data-area="{{item.Competence_Area}}" style="width: 110px;">
                  <option value="">Action...</option>
                  <option value="requestRfC" data-apo="{{item.Assignee}}" data-apo_email="{{item.Assignee_Email}}" >Send RfC request for this item</option>
                  <option value="requestRfCAll" data-apo="{{item.Assignee}}" data-apo_email="{{item.Assignee_Email}}" >Send RfC request for the APO's items</option>
                  <option value="addTask" >Add a task to track </option>
                </select>
                {% endif %}
              {% endif %}
              </td>

            {% elif field_name == "RC_FB" %}
              {% if field_value and item.End_FB %}
                <td class="no-wrap {% if item.End_FB > field_value %} delayed {% endif %}">{{ field_value }}</td>
              {% else %}
                <td class="no-wrap">{% if field_value %}{{ field_value }}{% endif %}</td>
              {% endif %}

            {% elif field_name == "Original_Estimate" or field_name == "Time_Remaining" %}
              <td class="no-wrap">{% if field_value %}{{ field_value|rjust:"6" }}{% endif %}</td>

            {% elif field_name == "Assignee" %}
              <td class="no-wrap assigneeCell">
                {% if not field_value %}
                  <span style="background-color: orange;">(Not Assigned)</span>
                  <!--select class="selectForAssignee" data-item_key="{{ item.Key }}" style="width: 110px;">
                    <option value="">Options...</option>
                    <option value="assignAPO">Assign to L-APO: James Bond</option>
                    <option value="sendMail" data-lapo_email="I_MN_RAN_L2_LAPO_GMS">Mail to: I_MN_RAN_L2_LAPO_GMS</option>
                    <option value="openCampPage" data-url="http://camp.example.com">Open the CAMP page...</option>
                  </select-->
                {% else %}
                  {{ field_value|linkify }}
                  <span class="hidden-assignee-for-copy" style="display:none;">{{ field_value }}</span>
                {% endif %}
              </td>

            {% else %}
              <td class="no-wrap">{% if field_value %}{{ field_value|safe }}{% endif %}</td>
            {% endif %}
          {% endfor %}

          {% for fb in display_sprints %}
            {% if fb >= item.Start_FB and fb <= item.End_FB %}
              {% if not_fitting_items and item.Key in not_fitting_items and fb > not_fitting_items|keyvalue:item.Key %}
                <td style="background-color: red;"></td>
              {% else %}
                <td style="background-color: limegreen;"></td>
              {% endif %}
            {% else %}
              <td></td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if boundary %}
  <br><h5>Applicable Program Boundary:</h5>
  <table id="boundaryTable" class="table-bordered center-align">
    <thead>
      <tr>
        <th>Release</th>
        <th>Category</th>
        <th>SW Done</th>
        <th>ET EC</th>
        <th>ET FER</th>
        <th>ET Done</th>
        <th>ST EC</th>
        <th>ST FER</th>
        <th>ST Done</th>
        <th>PET/Five EC</th>
        <th>PET/Five FER</th>
        <th>PET/Five Done</th>
        <th>TA</th>
        <th>CuDo</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{ boundary.release }}</td>
          <td>{{ boundary.category }}</td>
          <td>{{ boundary.sw_done }}</td>
          <td>{{ boundary.et_ec }}</td>
          <td>{{ boundary.et_fer }}</td>
          <td>{{ boundary.et_done }}</td>
          <td>{{ boundary.st_ec }}</td>
          <td>{{ boundary.st_fer }}</td>
          <td>{{ boundary.st_done }}</td>
          <td>{{ boundary.pet_five_ec }}</td>
          <td>{{ boundary.pet_five_fer }}</td>
          <td>{{ boundary.pet_five_done }}</td>
          <td>{{ boundary.ta }}</td>
          <td>{{ boundary.cudo }}</td>
        </tr>
    </tbody>
  </table>
  {% endif %}
</div>
{% endif %}

<!-- 将 Django 模板变量传递给 JavaScript 代码 -->
<script type="text/javascript">
  var LinkCache = JSON.parse("{{ item_links|escapejs }}");
  var FeatureId = "{{ fid|escapejs }}";
</script>
<script type="text/javascript" src="{% static 'fotd/backlog.js' %}" ></script>
<script type="text/javascript" src="{% static 'fotd/childrow.js' %}"></script>
{% endblock %}
