{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block css %}
  <style>
    .no-wrap {
      white-space: nowrap;
    }
    .progress {
      height: 30px;
    }
    .new_added {
      font-weight: bold;
    }
    .delayed, .not_fitting {
      background-color: red;
    }
    .duesoon {
      background-color: orange;
    }
    .center-align {
      text-align: center;
    }
    #boundaryTable th, #boundaryTable td {
        border: 1px solid black;
        padding: 5px;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
{% endblock %}

{% block script %} 
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
{% endblock %}

{% block nav_link %} 
|&nbsp;<a style="text-align: right;" href="{% url 'fotd:detail' fid %}">{{fid}}</a>
{% endblock %}

{% block content %}
<br>
<div style="display: flex; align-items: baseline; margin-left: 10px;">
  <h2>{{fid}} Backlog</h2>
  {% if query_time %}
  <div>&nbsp;@ {{ query_time|timesince }} ago | <a href="{{request.get_full_path}}?refresh=true">Refresh</a> |</div>
  {% endif %}
  &nbsp;<a href="https://jiradc.ext.net.nokia.com/secure/StructureBoard.jspa?p=2059383512&s=%7B%22sQuery%22%3A%7B%22query%22%3A%22project%20in%20(FFB)%20%20AND%20%5C%22Feature%20ID%5C%22%20~{{ fid }}%22%2C%22type%22%3A%22jql%22%7D%7D#" target="_blank">Open JIRA Structure</a>
</div>

<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        {% for field_name in display_fields %}
          <th>{{ field_name|replace:"_, " }}</th>
        {% endfor %}

        {% for fb in sprints %}
          <th> {{ fb }} </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item in result %}
        <tr>
          {% for field_name, field_value in item.items %}
            {% if field_name not in display_fields %}
              {# dont show #}

            {% elif field_name == "Key" %}
              <td class="no-wrap">
                <a href="{{link_prefix}}{{field_value}}" target="_blank" title="{{item.Summary}}">{{ field_value }}</a>
                {% if field_value in new_added_keys %}<img src="{% static 'pix/new.png' %}" alt="New added" width="32" height="32">{% endif %}
              </td>

            {% elif field_name == "Progress" %}
              <td class="no-wrap">
                <div class="progress">
                  <div class="progress-bar {% if field_value >= 99.9 %}bg-success{% else %}bg-primary{% endif %}" role="progressbar" 
                    style="width: {{ field_value }}%" aria-valuenow="{{ field_value }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>

            {% elif field_name == "End_FB" and item.Key in endfb_changed_items %}
              <td class="no-wrap">
                  {% if field_value %} {{ field_value }} {% else %} None {% endif %}
                    <span style="font-size: x-small;">({% if endfb_changed_items.key.0 %} {{ endfb_changed_items.key.0 }} {% else %} None {% endif %})</span>
              </td>
            {% elif field_name == "End_FB" and field_value == current_fb %}
              <td class="no-wrap duesoon">{{ field_value }}</td>
            {% elif field_name == "End_FB" and not_fitting_items and item.Key in not_fitting_items %}
              <td class="no-wrap not_fitting" title="Program Boundary: {{ not_fitting_items|keyvalue:item.Key }}">{{ field_value }}</td>

            {% elif field_name == "RC_Status" %}
              <td class="no-wrap" style="font-size: 0.7em;">{% if field_value %}{{ field_value }}{% endif %}</td>

            {% elif field_name == "RC_FB" %}
              {% if field_value and item.End_FB %}
                <td class="no-wrap {% if item.End_FB > field_value %} delayed {% endif %}">{{ field_value }}</td>
              {% else %}
                <td class="no-wrap">{% if field_value %}{{ field_value }}{% endif %}</td>
              {% endif %}

            {% elif field_name == "Original_Estimate" or field_name == "Time_Remaining" %}
              <td class="no-wrap">{% if field_value %}{{ field_value|rjust:"6" }}{% endif %}</td>

            {% else %}
              <td class="no-wrap">{% if field_value %}{{ field_value }}{% endif %}</td>
            {% endif %}
          {% endfor %}

          {% for fb in sprints %}
            {% if fb >= item.Start_FB and fb <= item.End_FB %}
              {% if not_fitting_items and item.Key in not_fitting_items and fb > not_fitting_items|keyvalue:item.Key %}
                <td style="background-color: red;"></td>
              {% else %}
                <td style="background-color: limegreen;"></td>
              {% endif %}
            {% else %}
              <td></td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if boundary %}
  Applicable Program Boundary:
  <table id="boundaryTable">
    <thead>
      <tr>
        <th>Release</th>
        <th>Category</th>
        <th>SW Done</th>
        <th>ET EC</th>
        <th>ET FER</th>
        <th>ET Done</th>
        <th>ST EC</th>
        <th>ST FER</th>
        <th>ST Done</th>
        <th>PET/Five EC</th>
        <th>PET/Five FER</th>
        <th>PET/Five Done</th>
        <th>TA</th>
        <th>CuDo</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{ boundary.release }}</td>
          <td>{{ boundary.category }}</td>
          <td>{{ boundary.sw_done }}</td>
          <td>{{ boundary.et_ec }}</td>
          <td>{{ boundary.et_fer }}</td>
          <td>{{ boundary.et_done }}</td>
          <td>{{ boundary.st_ec }}</td>
          <td>{{ boundary.st_fer }}</td>
          <td>{{ boundary.st_done }}</td>
          <td>{{ boundary.pet_five_ec }}</td>
          <td>{{ boundary.pet_five_fer }}</td>
          <td>{{ boundary.pet_five_done }}</td>
          <td>{{ boundary.ta }}</td>
          <td>{{ boundary.cudo }}</td>
        </tr>
    </tbody>
  </table>
  {% endif %}
</div>

<script>
$(document).ready(function() {
  // Get the number of columns
  var numColumns = $('.table thead th').length;

  // Generate an array of column indexes from 10 to the last column
  var nonSortableColumns = Array.from({length: numColumns - 9}, (_, i) => i + 9);

  $('.table').DataTable({
    "pageLength": 20,
    "lengthChange": false, // dont show "Show xx entries" by default
    "pagingType": "simple", // use simple pagination
    "columnDefs": [
      { "orderable": false, "targets": nonSortableColumns },
      { "className": "center-align", "targets": [4,5,6,7] } // zero-based col index
    ],
    "drawCallback": function(settings) {
      var api = this.api();
      if (api.page.info().pages <= 1) { 
        $('#' + api.table().node().id + '_paginate').hide(); // hide pagination if only one page
      } else {
        $('#' + api.table().node().id + '_paginate').show();
      }
      if (api.page.info().recordsTotal <= 20) {
        $('#' + api.table().node().id + '_length').hide(); // if record number less than 20, hide "Show xx entries"
      } else {
        $('#' + api.table().node().id + '_length').show();
      }
    }
  });
});
</script>
{% endblock %}