{% extends "base.html" %}
{% now "Y-m-d" as today %}
{% load custom_filters %}

{% block content %}
  <h1 class="text-center">[{{feature.release}}] {{ feature.id }}: {{feature.name|safe}}</h1>
  <div class="section">
    <div class="header">
      <div style="display: flex; align-items: center;">
        <h2>Basic Info&nbsp;</h2>
        <a href="{% url 'fotd:feature' feature.id %}"><img src="/static/admin/img/icon-changelink.svg" alt="edit"></a>
        <!--button id="editFeatureBtn">*</button-->
      </div>
    </div>

    <div class="content">
      <ul>
        <li>Links: <a href="{% url 'fotd:backlog' feature.id %}">Backlog</a>
          {% if feature.phase == 'Testing' and feature.rep_link|startswith:"http" %}
              | <a href="{{ feature.rep_link }}"  target="_blank">ReP</a>
          {% endif %}
        </li>
        <!--li>Release: {{ feature.release }} | Priority: {{ feature.priority }}</li-->
        <li>Desc / Labels: {{ feature.desc|urlize }}</li>
        <li>Text2:<br>{{ feature.text2_desc|escape|linebreaksbr|linkify }}</li>
        </li>
      </ul>
    </div>
  </div>

  <div class="section">
    <div class="header">
      <div style="display: flex; align-items: center;">
        <h2>Events</h2>
        <button class="addUpdateBtn">&#10750;</button>
      </div>
    </div>

    <div class="content">
      <ul>
        <form class="addStatusForm" style="margin-left: 40px;display:none;">
          {% csrf_token %}
          <input type="date" name="date" value="{{ today|date:'Y-m-d' }}" style="display: inline-block;" max="{{ today|date:'Y-m-d' }}">
          <input type="text" name="status" placeholder="Add an event" style="display: inline-block; width: 50%;">
          <button type="submit" style="background-color: #007bff;">Add</button>
          <button type="button" class="cancelUpdateBtn">Cancel</button>
        </form>

        {% for event in updates %}
          <li>{{event.update_date|date:'Y/m/d'}}: {{ event.update_text|linkify }}</li>
        {% empty %}
          <li id="feature_update_empty">No update yet</p>
        {% endfor %}
        
        <li id="feature_update_hidden_placeholder" style="display: none;"></li>
      </ul>
  </div>

  <br>
  <div  class="section">
    <div class="header">
      <div style="display: flex; align-items: center;">
        <h2>Tasks</h2>
        <button class="addTaskBtn">&#10009;</button>
      </div>
    </div>

    <div class="content">
      <ul>
        <form class="addTaskForm" style="margin-left: 40px;display:none;">
          {% csrf_token %}
          <!--label for="title" style="display: inline-block;">New task:</label-->
          <input type="text" name="title" placeholder="Add a task" style="display: inline-block; width: 30%;">

          <label for="owner" style="display: inline-block;">Owner:</label>
          <input type="text" name="owner" value="FOTL" style="display: inline-block;">

          <label for="due" style="display: inline-block;">Due Date:</label>
          <input type="date" name="due" value="{{ today|date:'Y-m-d' }}" style="display: inline-block;">

          <input type="text" name="contact" placeholder="related contacts" style="display: inline-block;">
          <!--input type="text" name="mail" placeholder="related mail title" style="display: inline-block;">
          <input type="text" name="chat" placeholder="related teams chat" style="display: inline-block;">
          <input type="text" name="meeting" placeholder="related meeting" style="display: inline-block;"-->
          <button type="submit">Add</button>
          <button type="button" class="cancelTaskBtn">Cancel</button>
        </form>
        <li id="task_list_hidden_placeholder" style="display: none;"></li>

        {% if tasks %}
          {% for task in tasks %}
            <li><a href="/task/{{ task.id }}/">{{ task.title|urlizetrunc:30 }}</a> - {{task.owner}} | 
              {% if task.due < today %}
                <span style="color: red;">{{ task.due }}</span>
              {% else %}
                {{ task.due }}
              {% endif %}
              <button class="addTaskStatusBtn" data-task-id="{{ task.id }}">+</button>
            </li>

            <ul>
              <form class="addTaskStatusForm" style="display:none;" data-task-id="{{ task.id }}">
                {% csrf_token %}
                <input type="date" name="date" value="{{ today|date:'Y-m-d' }}" style="display: inline-block;" max="{{ today|date:'Y-m-d' }}">
                <input type="text" name="status" placeholder="Add a update" style="display: inline-block; width: 50%;">
                <button type="submit">Add</button>
                <button type="button" class="cancelTaskStatusBtn">Cancel</button>
              </form>
              <li id="task_{{task.id}}_hidden_placeholder" style="display: none;"></li>
              {% if task.statusUpdates %}
                {% for statusUpdate in task.statusUpdates %}
                  <li>{{ statusUpdate|urlize|linkify }}</li>
                {% endfor %}
              {% endif %}
            </ul>
          {% endfor %}
        {% else %}
          <li id="task_empty">No ongoing tasks.</li>
        {% endif %}
      </ul>
    </div>
  </div>

{% endblock %}

{% block bottom %}
  <script>
    $(document).ready(function(){
      $('#editFeatureBtn').click(function(){
        var url = "{% url 'fotd:feature' feature.id %}";
        window.location.href = url;
      });

      $('form').each(function() {
        $(this).on('keypress', function(e) {
          var keyCode = e.keyCode || e.which;
          if (keyCode === 13) {  // 13 is the ASCII code for the Enter key
            e.preventDefault();
            $(this).submit();
          }
        });
      });
      // clicking edit button to expand the row to display input interface
      $('.addTaskBtn').click(function(){
        $(this).hide();
        $('.addTaskForm').show();
      });
      $('.cancelTaskBtn').click(function() {
        $(this).closest('form').hide();
        $('.addTaskBtn').show();
      });

      $(".addTaskForm").on('submit', function(event){
        event.preventDefault();

        var featureId = '{{ feature.id }}';
        var formData = {};
        var form = $(this);

        $(this).find('input').each(function() {
          var name = $(this).attr('name');
          var value = $(this).val().trim();
          if(value != '') {
            formData[name] = value;
            if(name != 'due') $(this).val('');
          }
        });

        $.ajax({
          url: '/ajax_task_add/' + featureId + '/',
          type: 'POST',
          data: formData,
          success: function(response){
            var dueDate = new Date(response.due);
            var formattedDate = (dueDate.getMonth() + 1) + '/' + dueDate.getDate();

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();            
            var today_str = yyyy + '-' + mm + '-' + dd;

            $('<li><a href="/task/' + response.id + '/">' + response.title +'</a> - ' + response.owner
               + ' | ' + formattedDate + '<button class="addTaskStatusBtn" data-task-id="' 
               + response.id + '">+</button></li>\n'
              + '<ul><form class="addTaskStatusForm" style="display:none;" data-task-id="' + response.id +'">'
              + '<input type="date" name="date" value="' + today_str + '" style="display: inline-block;" max="' + today_str + '">'
              + '<input type="text" name="status" placeholder="Add a update" style="display: inline-block; width: 50%;">'
              + '<button type="submit">Add</button>'
              + '<button type="button" class="cancelTaskStatusBtn">Cancel</button>'
              + '</form> <li id="task_' + response.id +'_hidden_placeholder" style="display: none;"></li></ul>').insertAfter('#task_list_hidden_placeholder');
            
            $('#task_empty').hide();
            form.hide();
            $('.addTaskBtn').show()
          }
        });
      });
      
      // Feature Status Update
      $('.addUpdateBtn').click(function(){
        $(this).hide();
        $('.addStatusForm').show();
      });
      $('.cancelUpdateBtn').click(function(){
        $(this).closest('form').hide();
        $('.addUpdateBtn').show();
      });
      $(".addStatusForm").on('submit', function(event){
        event.preventDefault();
        var form = $(this);

        var featureId = '{{ feature.id }}';
        var date_str = $(this).find('input[name="date"]').val();
        var update_text = $(this).find('input[name="status"]').val();
        $(this).find('input[name="status"]').val('');

        $.ajax({
          url: '/ajax_feature_status/' + featureId + '/',
          type: 'POST',
          data: {
            'date_str': date_str,
            'update_text': update_text
          },
          success: function(response){
            $('<li>' + response + '</li>').insertAfter('#feature_update_hidden_placeholder');
            $('#feature_update_empty').hide();
            form.hide();
            $('.addUpdateBtn').show()
          }
        });
      });
    });

    // Use Event Delegation to add event listener to dynamically added web elements
    // Task Status handlers
    $(document).on('click', '.addTaskStatusBtn', function() {
      $(this).hide();
      var taskId = $(this).data('task-id');
      $('.addTaskStatusForm[data-task-id="' + taskId + '"]').show();
    });
    
    $(document).on('click', '.cancelTaskStatusBtn', function() {
      var form = $(this).closest('form');
      var taskId = form.data('task-id');
      $('.addTaskStatusBtn[data-task-id="' + taskId + '"]').show();
      form.hide();
    });

    $(document).on('submit', 'form.addTaskStatusForm', function(event) {
      event.preventDefault();
      var form = $(this);

      var taskId = $(this).attr('data-task-id');
      var date_str = $(this).find('input[name="date"]').val();

      status_obj = $(this).find('input[name="status"]');
      var update_text = status_obj.val();
      status_obj.val('');

      $.ajax({
        url: '/ajax_task_status/' + taskId + '/',
        type: 'POST',
        data: {
          'date_str': date_str,
          'update_text': update_text
        },
        success: function(response){
          $('<li>' + response + '</li>').insertAfter('#task_' + taskId + '_hidden_placeholder');
          form.hide();
          $('.addTaskStatusBtn[data-task-id="' + taskId + '"]').show();
        }
      });
    });
  </script>

{% endblock %}