{% extends "base.html" %}

{% block content %}
  <div>
    <a style="text-align: right;" href="/">Back</a>
  </div>

  <h1 class="text-center">{{ feature }}: {{feature.name}}</h1>

  <div  class="section">
    <div class="header">
      <div style="display: flex; align-items: center;">
        <h2>Status Updates</h2>
        <button class="addUpdateBtn">&#10009;</button>
      </div>
    </div>

    <div  class="content">
      <ul>
        <form class="addStatusForm" style="margin-left: 40px;display:none;">
          {% csrf_token %}
          <input type="date" name="date" value="{{ today|date:'Y-m-d' }}" style="display: inline-block;" max="{{ today|date:'Y-m-d' }}">
          <input type="text" name="status" placeholder="Add new status update" style="display: inline-block; width: 50%;">
          <button type="submit">Add</button>
        </form>

        {% if updates %}
          {% for statusUpdate in updates %}
            <li>{{ statusUpdate }}</li>
          {% endfor %}
        {% else %}
          <li id="feature_update_empty">No update yet</p>
        {% endif %}
        
        <li id="feature_update_hidden_placeholder" style="display: none;"></li>
      </ul>
  </div>

  <br>
  <div  class="section">
    <div class="header">
      <div style="display: flex; align-items: center;">
        <h2>Tasks</h2>
        <button class="addTaskBtn">&#10009;</button>
      </div>
    </div>

    <div  class="content">
      {% if tasks %}
        <ul>
          <form class="addTaskForm" style="margin-left: 40px;display:none;">
            {% csrf_token %}
            <label for="title" style="display: inline-block;">New task:</label>
            <input type="text" name="title" style="display: inline-block; width: 30%;">

            <label for="owner" style="display: inline-block;">Owner:</label>
            <input type="text" name="owner" style="display: inline-block;">

            <label for="due" style="display: inline-block;">Due Date:</label>
            <input type="date" name="due" value="{{ today|date:'Y-m-d' }}" style="display: inline-block;">

            <input type="text" name="mail" placeholder="related mail title" style="display: inline-block;">
            <input type="text" name="chat" placeholder="related teams chat" style="display: inline-block;">
            <input type="text" name="meeting" placeholder="related meeting" style="display: inline-block;">
            <button type="submit">Add</button>
          </form>
          <li id="task_list_hidden_placeholder" style="display: none;"></li>

          {% for task in tasks %}
            <li><a href="/task/{{ task.id }}/">{{ task.title }}</a> - {{task.owner}} | {{task.due}}</li>
            <form class="addTaskStatusForm" style="margin-left: 40px;" data-task-id="{{ task.id }}">
              {% csrf_token %}
              <input type="date" name="date" value="{{ today|date:'Y-m-d' }}" style="display: inline-block;" max="{{ today|date:'Y-m-d' }}">
              <input type="text" name="status" placeholder="Add task update" style="display: inline-block; width: 50%;">
              <button type="submit">Add</button>
            </form>
            {% if task.statusUpdates %}
              <ul>
                <li id="task_{{task.id}}_hidden_placeholder" style="display: none;"></li>
                {% for statusUpdate in task.statusUpdates %}
                  <li>{{ statusUpdate }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <p>No ongoing tasks.</p>
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block bottom %}
  <script>

      $(document).ready(function(){
      // clicking edit button to expand the row to display input interface
      $('.addTaskBtn').click(function(){
        $(this).hide();
        $('.addTaskForm').show();
      });

      $(".addTaskForm").on('submit', function(event){
        event.preventDefault(); // 阻止表单的默认提交行为

        var featureId = '{{ feature.id }}';
        var formData = {};
        var form = $(this);

        $(this).find('input').each(function() {
          var name = $(this).attr('name');
          var value = $(this).val().trim();
          if(value != '') {
            formData[name] = value;
            if(name != 'due') $(this).val('');
          }
        });

        $.ajax({
          url: '/ajax_task_add/' + featureId + '/',
          type: 'POST',
          data: formData,
          success: function(response){
            var dueDate = new Date(response.due);
            var formattedDate = (dueDate.getMonth() + 1) + '/' + dueDate.getDate();
            $('<li><a href="/task/' + response.id + '/">' + response.title +'</a> - ' + response.owner
               + ' | ' + formattedDate + '</li>').insertAfter('#task_list_hidden_placeholder');
            
            $('#feature_update_empty').hide();
            form.hide();
            $('.addTaskBtn').show()
          }
        });
      });

      // Feature Status Update
      $('.addUpdateBtn').click(function(){
        $(this).hide();
        $('.addStatusForm').show();
      });

      $(".addStatusForm").on('submit', function(event){
        event.preventDefault();        
        var form = $(this);

        var featureId = '{{ feature.id }}';
        var date_str = $(this).find('input[name="date"]').val();
        var update_text = $(this).find('input[name="status"]').val();
        $(this).find('input[name="status"]').val(''); // 重置status input box中的内容

        $.ajax({
          url: '/ajax_feature_update/' + featureId + '/',
          type: 'POST',
          data: {
            'date_str': date_str,
            'update_text': update_text
          },
          success: function(response){
            $('<li>' + response + '</li>').insertAfter('#feature_update_hidden_placeholder');
            $('#feature_update_empty').hide();
            form.hide();
            $('.addUpdateBtn').show()
          }
        });
      });

      // Task Status Update
      $(".addTaskStatusForm").on('submit', function(event){
        event.preventDefault(); // 阻止表单的默认提交行为

        var taskId = $(this).attr('data-task-id');
        var date_str = $(this).find('input[name="date"]').val();

        status_obj = $(this).find('input[name="status"]');
        var update_text = status_obj.val(); // 获取状态更新
        status_obj.val(''); // 重置status input box中的内容

        $.ajax({
          url: '/ajax_task_update/' + taskId + '/',
          type: 'POST',
          data: {
            'date_str': date_str,
            'update_text': update_text
          },
          success: function(response){
            // 在任务下方添加新的状态更新
            $('<li>' + response + '</li>').insertAfter('#task_' + taskId + '_hidden_placeholder');
          }
        });
      }); 
    });

  </script>

{% endblock %}