{% extends "base.html" %}

{% block nav_link %}
|&nbsp;<a style="text-align: right;" href="{% url 'fotd:detail' feature.id %}">{{feature.id}}</a>
{% endblock %}

{% block content %}

{% if feature %}
  <h1 class="text-center">{{feature.id}}</h1>

  <form id="text2_form" class="container" style="margin-top: 40px;" data-feature-id="{{ feature.id }}">
    {% csrf_token %}

    <div class="form-group">
      <label for="text2_desc">Text2:</label>
      <textarea id="text2_desc" data-jira-key="" class="form-control" name="text2_desc" rows="5">{{feature.text2_desc}}</textarea>
    </div>

    <div class="form-group">
      <label for="risk_status">Risk Status:</label>
      <select class="form-control" name="risk_status">
        <option value="Green" {% if feature.risk_status == "Green" %}selected{% endif %}>Green</option>
        <option value="Yellow" {% if feature.risk_status == "Yellow" %}selected{% endif %}>Yellow</option>
        <option value="Red" {% if feature.risk_status == "Red" %}selected{% endif %}>Red</option>
      </select>
    </div>

    <div class="form-group" id="riskDetail" {% if feature.risk_status != "Yellow" and feature.risk_status != "Red" %}style="display: none;"{% endif %}>
      <label for="risk_summary">Risk Summary:</label>
      <input id="risk_summary" class="form-control" type="text" name="risk_summary" value="{{feature.risk_summary}}">
    </div>

    <button type="submit" id="getText2Btn" class="btn btn-primary">Query from JIRA</button>
    <button type="submit" id="setText2Btn" class="btn btn-secondary">Update to JIRA</button>
  </form>

  <hr>
  <form id="feature_form" class="container" style="margin-top: 40px;" data-feature-id="{{ feature.id }}" >
    {% csrf_token %}

    <div class="form-group">
      <label for="name">Name:</label>
      <input class="form-control" type="text" name="name" value="{{feature.name}}">
    </div>

    <div class="form-group">
      <label for="release">Release:</label>
      <input class="form-control" type="text" name="release" value="{{feature.release}}">
    </div>

    <div class="form-group">
      <label for="milestone">Milestone:</label>
      <input class="form-control" type="text" name="milestone" value="{{feature.milestone}}">
    </div>

    <div class="form-group">
      <label for="boundary">Applicable Program Boundary
      (<a href="{% url 'fotd:add_program_boundary' %}" >add</a>):</label>
      <select class="form-control" name="boundary">
        <option value="" {% if not feature.boundary %}selected{% endif %}>N/A</option>
        {% for boundary in ProgramBoundary %}
          <option value="{{ boundary.id }}" {% if feature.boundary.id == boundary.id %}selected{% endif %}>{{ boundary.category }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="priority">Priority:</label>
      <input class="form-control" type="number" name="priority" value="{{feature.priority}}">
    </div>

    <div class="form-group">
        <label for="phase">Phase:</label>
        <select class="form-control" name="phase">
          <option value="Planning" {% if feature.phase == "Planning" %}selected{% endif %}>Planning</option>
          <option value="Development" {% if feature.phase == "Development" %}selected{% endif %}>Development</option>
          <option value="Testing" {% if feature.phase == "Testing" %}selected{% endif %}>Testing</option>
          <option value="Done" {% if feature.phase == "Done" %}selected{% endif %}>Done</option>
        </select>
    </div>

    <div class="form-group">
      <label for="customer">Customer:</label>
      <input class="form-control" type="text" name="customer" value="{{feature.customer}}">
    </div>

    <div class="form-group">
      <label for="fusion_link">JIRA Structure:</label>
      <input class="form-control" type="text" name="fusion_link" value="{{feature.fusion_link}}">
    </div>

    <div class="form-group">
      <label for="fp_link">FP Link:</label>
      <input class="form-control" type="text" name="fp_link" value="{{feature.fp_link}}">
    </div>

    <div class="form-group">
      <label for="cfam_link">CFAM Link:</label>
      <input class="form-control" type="text" name="cfam_link" value="{{feature.cfam_link}}">
    </div>

    <div class="form-group">
      <label for="gantt_link">Gantt Chart:</label>
      <input class="form-control" type="text" name="gantt_link" value="{{feature.gantt_link}}">
    </div>

    <div class="form-group">
      <label for="rep_link">Reporting Portal:</label>
      <input class="form-control" type="text" name="rep_link" value="{{feature.rep_link}}">
    </div>

    <div class="form-group">
      <label for="desc">Description:</label>
      <textarea class="form-control" name="desc">{{feature.desc}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>

{% else %}
  <p>Feature not found.</p>
{% endif %}
{% endblock %}

{% block bottom %}
  <script>
    $(document).ready(function(){
      $("#feature_form").on('submit', function(event){
        event.preventDefault();

        var fid = $(this).attr('data-feature-id');
        var formData = $(this).serialize();

        $.ajax({
          url: '/ajax_feature_update/' + fid + '/',
          type: 'POST',
          data: formData,
          success: function(response){
            alert(response.message);
            url = '/detail/' + fid + '/';
            window.location.href = url;
          }
        });
      });

      $('select[name="risk_status"]').change(function() {
        var riskValue = $(this).val();

        if (riskValue === "Red" || riskValue === "Yellow") {
            $('#riskDetail').css('display', 'block');
        } else {
            $('#risk_summary').val("");
            $('#riskDetail').css('display', 'none');
        }
      });

      $("#text2_form").on('submit', function(event){
        event.preventDefault();

        var fid = $(this).data('feature-id');

        $.ajax({
          url: '/ajax_get_text2/' + fid + '/',
          type: 'GET',
          success: function(response){
            var lines = response.text2_desc.split("\n").length;
            $('#text2_desc').attr('rows', lines+2);

            // update the text2_desc and jira key for updating
            $('#text2_desc').val(response.text2_desc);
            $('#text2_desc').data('jira-key', response.jira_key);
            $('select[name="risk_status"]').val(response.risk_status).change();
          },
          error: function(response){
            alert('Failed to query Text2/risk:\n' + response.responseJSON.message);
          }
        });
      });

      $('#setText2Btn').click(function(event){
        event.preventDefault();
        var fid = $("#text2_form").data('feature-id');
        var text2_desc = $('#text2_desc').val();

        var today = new Date();
        var today_str = '[' + today.getFullYear().toString().slice(-2) + '.' + (today.getMonth() + 1) + '.' + today.getDate() + ']';

        // update the date str [yy.mm.dd] to today
        var regex = /\[\d{2}\.\d{1,2}\.\d{1,2}\]/;
        var newText2 = text2_desc.replace(regex, today_str);
        //alert(newText2)

        var data = {
            'jira_key': $('#text2_desc').data('jira-key'),
            'text2_desc': newText2,
            'risk_status': $('select[name="risk_status"]').val(),
            'risk_summary': $('#risk_summary').val()
          }
        //alert(JSON.stringify(data));

        $.ajax({
          url: '/ajax_set_text2/' + fid + '/',
          type: 'POST',
          data: data,
          success: function(response){
            $('#text2_desc').val(newText2);
            alert('Text2 and risk updated successfully!');
          },
          error: function(response){
            alert('Failed to update Text2/risk:\n' + response.message);
          }
        });
      });

    });
  </script>
{% endblock %}
