{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'fotd/styles.css' %}">	
  <link rel="stylesheet" href="{% static 'fotd/jquery-ui.min.css' %}">
{% endblock %}

{% block content %}
  <nav class="navbar">
    <div class="container">
      <h1 class="logo">My Dashboard</h1>
      <a href="#" class="add-feature-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="12" y1="8" x2="12" y2="16"></line>
          <line x1="8" y1="12" x2="16" y2="12"></line>
        </svg>
      </a>
    </div>
  </nav>
  
  <main class="main-content">
    <!-- 表格 -->
    <table id="feature-table">
      <thead>
        <tr>
          <th data-resizable-column-id="release">Release</th>
          <th data-resizable-column-id="id">Feature ID</th>
          <th data-resizable-column-id="name">Feature Name</th>
          <th data-resizable-column-id="priority">Priority</th>
          <th data-resizable-column-id="milestone">Milestone</th>
          <th data-resizable-column-id="phase">Phase</th>
          <th data-resizable-column-id="risk">Risk</th>
          <th data-resizable-column-id="links">Links</th>
          <th data-resizable-column-id="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Table content will be dynamically generated here -->
        {% for f in features %}
          <tr>
            <td>{{ f.release }}</td>
            <td>{{ f.id }}</td>
            <td>{{ f.name }}</td>
            <td>{{ f.priority }}</td>
            <td>{{ f.milestone }}</td>
            <td>{{ f.phase }}</td>
            <td style="text-align: center;">
              <div style="background-color: {{ f.risk }}; width: 32px; height: 32px; border-radius: 50%; display: inline-block;"></div>
            </td>
            <td>
              {% if 'http' in f.fusion_link %}
                <a href="{{ f.fusion_link }}" target="_blank"><img src="{% static 'pix/jira.png' %}" alt="Jira" width="32" height="32"></a>&nbsp;
              {% endif %}
              <a href="{{ f.gantt_link }}" target="_blank"><img src="{% static 'pix/gantt.svg' %}" alt="Gantt" width="32" height="32"></a>&nbsp;
            </td>
            <td><a href="{% url 'fotd:detail' f.id %}"><span style="font-size: 32px;">&#127915;</span></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}

{% block bottom %}
  <script src="{% static 'fotd/jquery-ui.min.js' %}"></script>
  <script src="{% static 'fotd/sortable.js' %}"></script>
{% endblock %}