{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'fotd/styles.css' %}">	
  <link rel="stylesheet" href="{% static 'fotd/jquery-ui.min.css' %}">
  <style>
    .badge {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
    }
    
    .badge::after {
      content: attr(data-count);
      position: absolute;
      top: -10px;
      right: -10px;
      background: blue;
      color: white;
      border-radius: 50%;
      padding: 5px 10px;
      font-size: 14px;
    }
    </style>
{% endblock %}

{% block content %}
  <nav class="navbar">
    <div class="container">
      <h1 class="logo">My Dashboard</h1>
      <a href="#" class="add-feature-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="12" y1="8" x2="12" y2="16"></line>
          <line x1="8" y1="12" x2="16" y2="12"></line>
        </svg>
      </a>
    </div>
  </nav>
  
  <main class="main-content">
    <!-- 表格 -->
    <table id="feature-table">
      <thead>
        <tr>
          <th data-resizable-column-id="release">Release</th>
          <th data-resizable-column-id="id">Feature ID</th>
          <th data-resizable-column-id="name">Feature Name</th>
          <th data-resizable-column-id="priority">Priority</th>
          <th data-resizable-column-id="milestone">Milestone</th>
          <th data-resizable-column-id="phase">Phase</th>
          <th data-resizable-column-id="risk">Risk</th>
          <th data-resizable-column-id="links">Links</th>
          <th data-resizable-column-id="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Table content will be dynamically generated here -->
        {% for f, task_count in features_with_task_count %}
          <tr>
            <td>{{ f.release }}</td>
            <td>{{ f.id }}</td>
            <td>{{ f.name }}</td>
            <td>{{ f.priority }}</td>
            <td>{{ f.milestone }}</td>
            <td>{{ f.phase }}</td>
            <td style="text-align: center;">
              <div style="background-color: {{ f.risk }}; width: 32px; height: 32px; border-radius: 50%; display: inline-block;"></div>
            </td>
            <td>
              {% if 'http' in f.fusion_link %}
                <a href="{{ f.fusion_link }}" target="_blank"><img src="{% static 'pix/jira.png' %}" alt="Jira" width="32" height="32"></a>&nbsp;
              {% endif %}
              <a href="{{ f.gantt_link }}" target="_blank"><img src="{% static 'pix/gantt.svg' %}" alt="Gantt" width="32" height="32"></a>&nbsp;
            </td>
            <td>
              <span class="badge" data-count="{{ task_count }}">
              <a href="{% url 'fotd:detail' f.id %}"><span style="font-size: 32px;">&#127915;</span></a>
              </span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
  
  <input type="text" id="prId" placeholder="Enter PR#" ><!--autofocus-->
  <input type="text" id="featureId" placeholder="Enter Feature/CNI ID#" >

{% endblock %}

{% block bottom %}
  <script src="{% static 'fotd/jquery-ui.min.js' %}"></script>
  <script src="{% static 'fotd/sortable.js' %}"></script>

  <script>
    $(document).ready(function() {
      $('#prId').keypress(function(event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
          var val = $(this).val().trim();
          if (!isNaN(val)) { // if all numbers
            val = val.padStart(6, '0');
            val = 'PR' + val;
          } else {
            val = val.substring(0, 8);
          }

          var url = 'https://pronto.ext.net.nokia.com/pronto/problemReportSearch.html?freeTextdropDownID=prId&searchTopText=' + val;
          window.open(url, '_blank'); 
        }
      });

    
    $('#featureId').keypress(function(event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
          var val = $(this).val().trim();
          if (val.startsWith('CB') && !(val.endsWith('SR') || val.endsWith('CR')) ) {
            val = val + '-SR';
          } else if (!isNaN(val)) { // if all numbers
            val = val.padStart(6, '0');
            val = 'CB' + val + '-SR';
          } else {
            val = val.substring(0, 8);
          }
          var url = 'https://jiradc.ext.net.nokia.com/secure/StructureBoard.jspa?p=2059383512&s=%7B%22sQuery%22%3A%7B%22query%22%3A%22project%20in%20(FFB)%20%20AND%20%5C%22Feature%20ID%5C%22%20~' + val + '%22%2C%22type%22%3A%22jql%22%7D%7D#';
          window.open(url, '_blank'); 
        }
      });

    });
  </script>
{% endblock %}