{% extends "base.html" %}

{% block nav_link %} 
|&nbsp;<a style="text-align: right;" href="{% url 'fotd:detail' task.feature_id %}">{{task.feature_id}}</a>
{% endblock %}

{% block content %}
  {% if task %}
    <h1 class="text-center">{{task.feature_id}}: {{ task.title }}</h1>
    Task {{task.status}}<br>
    {% if task.created_at %} Created at: {{task.created_at}}<br>{% endif %}
    {% if task.contact %} Contact: {{task.contact}} <br>{% endif %}
    {% if task.chat %}    Chat: {{task.chat}} <br>{% endif %}
    {% if task.mail %}    Mail: {{task.mail}} <br>{% endif %}
    {% if task.meeting %} Meeting: {{task.meeting}} <br>{% endif %}
    
    {% if task.statusUpdates %}
      {% for statusUpdate in task.statusUpdates %}
        <li>{{ statusUpdate|urlize }}</li>
      {% endfor %}
    {% endif %}

  {% else %}
    <p>Task not found.</p>
  {% endif %}
{% endblock %}