
/* 主内容区域样式 */
.main-content {
  /*display: flex;
  #margin-left: 200px;  / 距离侧边栏的距离，与侧边栏的宽度相同 */
  padding: 20px; /* 内边距 */
  height: calc(100vh - 50px); /* 屏幕高度减去导航栏高度 */
  overflow-y: auto; /* 如果内容超过主内容区域高度，显示滚动条 */
}

.navbar {
  position: relative;
  background-color: #4da0ff; /* 品牌色，亮蓝色 */
  color: #fff; /* 白色文字 */
  padding: 10px 0;
}

.container {
  /*max-width: 1200px;*/
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
}

.add-feature-link {
  background-color: #4da0ff; /* White background */
  color: #fff; /* Brand color, bright blue */
	border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.feather {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px; /* 可以根据需要调整图标与文字之间的间距 */
}

.add-feature-link:hover {
  background-color: #fff; /* Brand color, bright blue */
  color: #4da0ff; /* White text */
}

#feature-table td:nth-child(1),
#feature-table td:nth-child(4),
#feature-table td:nth-child(5),
#feature-table td:nth-child(6),
#feature-table td:nth-child(7),
#feature-table td:nth-child(8),
#feature-table td:nth-child(9) {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: #4da0ff; /* 亮蓝色 */
  color: #fff; /* 白色文字 */
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f0f8ff; /* 亮蓝色的淡色系 */
}

tr:hover {
  background-color: #d9e6ff; /* 亮蓝色的浅色系 */
}

h2 {
  background-color: #4da0ff; /* 亮蓝色 */
  color: #fff; /* 白色文字 */
  padding: 10px;
  margin-top: 0;
}



