.main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px); /* 屏幕高度减去导航栏高度 */
}

.main-content {
  padding: 20px; /* 内边距 */
  overflow-y: auto; /* 如果内容超过主内容区域高度，显示滚动条 */
  flex-grow: 1; /* 新增：使主内容区域占据剩余空间 */
}

.navbar {
  position: relative;
  background-color: #4da0ff; /* Brand color, bright blue */
  color: #fff;
  padding: 10px 0;
}

.container {
  /*max-width: 1200px;*/
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
    
.center {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adds some space between the elements */
}

.logo {
  margin: 0;
  padding: 0 20px;
}

.add-feature-link {
  background-color: #4da0ff; /* White background */
  color: #fff; /* Brand color, bright blue */
	border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.feather {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px; /* 可以根据需要调整图标与文字之间的间距 */
}

.add-feature-link:hover {
  background-color: #fff; /* Brand color, bright blue */
  color: #4da0ff;
}

#feature-table td:nth-child(3) {
  text-align: left;
  padding-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: #4da0ff;
  color: #fff;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f0f8ff;
}

tr:hover {
  background-color: #d9e6ff;
}

h2 {
  background-color: #4da0ff;
  color: #fff;
  padding: 10px;
  margin-top: 0;
}



