<!-- templates/mail/CuDo.html -->
<!-- CFAM & FOT team nominations – NPE SPOC distribution list: I_MN_RAN_RD_CIS_NPE_KNOWLEDGE_TRUNK_GUARDIANS -->
<!-- Subject: "[Action Required] CuDo nomination request for {release} {{fid}}" -->
<html>
<body>
    <p>Hello,</p>
    <p></p>
    <p>Could you pls nominate a CuDo representative to join the {{ fid }} CFAM and FOT meetings? Thanks!</p>
    <p></p><p></p>
    <p>Best regards,
    <br>{{ fot_lead|capfirst }}</p>
    <hr>
    <p>This mail is sent from FOTD, a collaboration tool developed for FOT.</p>
</body>
</html>