{% load static %}
{% url 'fotd:fb' yy=24 as fb_url %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOTLead Dashboard</title>

    <link rel="stylesheet" href="{% static 'fotd/bootstrap.min.css' %}">
    <style>
      #user-tools {
        background-color: #fff;
        position: absolute;
        text-align: right;
        padding: 0 10px;
        text-transform: uppercase;
        z-index: 1000;
        top: 0;
        right: 0;
      }
    </style>

    {% block css %} {% endblock %}
        
    <script src="{% static 'fotd/jquery.min.js' %}"></script>
    
    {% block script %} {% endblock %}
  </head>

  <body>
    {% if request.path != "/" %}
    <div>
      <a style="text-align: right;" href="javascript:history.back()">Back</a>
    </div>
    {% endif %}

    <div id="user-tools">
      {{ request.session.today }}&nbsp;|&nbsp;{{ request.session.wk }}&nbsp;|&nbsp;     
      {% if request.path == fb_url %}
        <span>{{ request.session.fb }}</span>
      {% else %}
        <a href="{{ fb_url }}">{{ request.session.fb }}</a>
      {% endif %}
      - Welcome,
      {% if user.is_authenticated %}
        <strong>{{user.username}}</strong>!
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <strong>Guest</strong>!
      {% endif %}
    </div>
    
    <div class="main-container">
      {% block content %} 
      {% endblock %}

      <hr>
      <footer class="center">
        <p>&copy; 2024 FOTL Dashboard</p>
      </footer>
    </div>
    
    {% block bottom %} {% endblock %}
    
  </body>
</html>